<p id="notice"><%= notice %></p>

<h1><%= @topic.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<ul>
  <% @topic.users.each do |r| %>
    <li><%= r.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
